body {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
margin: 0;
padding: 0;
min-height: max-content;
background-color: #565a6546 ;
background-image: url(../imgs/BGs/BG1.jpg), url(../imgs/BGs/BG2.jpg), url(../imgs/BGs/BG3.jpg), url(../imgs/BGs/BG1.jpg), url(../imgs/BGs/BG2.jpg);
background-position:  0% 0%, 0% 23%, 0% 50%, 0% 75%, 0% 100%;
background-size: 100%, 100%, 100%, 100%, 100%;
background-repeat: no-repeat , no-repeat , no-repeat, no-repeat, no-repeat, no-repeat;
background-attachment: scroll;


}

.topbanner {
    padding: 1% 2% 2% 1%;
    display: grid;
    grid-template-areas: 
        'a b c';
    background-color: #ffb0e2e0 ;
    height: min-content;
    align-items: center;
    overflow-x: auto;
}

.logo {
    margin: 10px 10px 10px 10%;
    grid-area: a;
    height: 100px;
    width: 100px;    
    
}

            #toplogo { 
                height: 100px;
                width: 100px;
            }


.menu {
    justify-content: center;
    margin: 1rem 0 1rem 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    grid-area: b;
}


    .menu li {
        font-weight: bold;
        font-size: small;
        padding: 10px;
        text-align: center;
        background-color:rgba(255, 255, 255, 0.669);
        border-radius: 5px;
        padding-inline: 10px;
        margin: 2px;
    }

    a:hover, a:visited, a:link, a:active {
        text-decoration: none;
        color:#66725B;
        font-size: small;

    }

.User {
    justify-content:center;
    display: flex;
    grid-area: c;
    
    
}
.Login, .Register {
    font-size: medium;
    text-align: center;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: #66725baf;
    margin-inline: 2px;
    border: rgba(255, 255, 255, 0) none 2px;
    border-radius: 5px;
    padding: 10px;
    height: auto;
    min-width: min-content;
   }

   

.jumbo {
    margin-inline: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center

}

    .slogan {

        margin: 2rem auto 2rem auto;
        font-size: larger;
        text-shadow: 3px 3px 3px#1f2318  ;
        padding: 1rem 5% 1rem 5% ;
        min-width: fit-content;
        background-color: #565a65d8;
        border-radius: 5%;
        color:white;
        flex-direction: column;
        text-align: center;
        letter-spacing: 1px;
        word-spacing: 2px;
        
    }

    .catalogo {
        margin-inline: 2%;
    
        padding: 20px 10px 20px 10px;
        display: flex;
        background-color: #ffb0e2b5;
        width: 100%;
        align-items: center;
        border-radius: 25px;
        gap: 10px;
        flex-direction: column;   
    }

    .Slider {
        border:#363C2E 2px solid;
        border-radius: 10px;
        margin: 5px 2px 5px 2px;
        width: 85vw;
        height: 60vh;
        
    }

    .tituloSlider {
        text-align: center;
        background-color:white;
        opacity: .7;
        color: #000000;
        font-weight: bold;
        font-size: xx-large;
        margin-top: 5px;
    
    }

        .Vestimenta {
            animation:slideV 21s infinite ;
            background: no-repeat center/cover url(../imgs/Productos/Vestimenta/Img1.jpg);
        }

        @keyframes slideV {

            33%{background: no-repeat center/cover url(../imgs/Productos/Vestimenta/Img2.jpg);
        }
            66%{background: no-repeat center/cover url(../imgs/Productos/Vestimenta/Img3.jpg);
        }
            100%{background: no-repeat center/cover url(../imgs/Productos/Vestimenta/Img1.jpg) ;
        }
        }

        .Cuadros {
            animation:slideC 21s infinite;
            background: no-repeat center/cover url(../imgs/Productos/Cuadros/Img1.jpg);
        }

        @keyframes slideC {

            33%{background: no-repeat center/cover url(../imgs/Productos/Cuadros/img2.jpg);
        }
            66%{background: no-repeat center/cover url(../imgs/Productos/Cuadros/img3.jpg);
        }
            100%{background: no-repeat center/cover url(../imgs/Productos/Cuadros/Img1.jpg);
        }
        }
        .Accesorios {
            animation:slideA 21s infinite;
            background: no-repeat center/cover url(../imgs/Productos/Accesorios/img1.jpg)}

        @keyframes slideA {

            33%{background: no-repeat center/cover url(../imgs/Productos/Accesorios/img2.jpg);
        }
            66%{background: no-repeat center/cover url(../imgs/Productos/Accesorios/img3.jpg);
        }
            100%{background: no-repeat center/cover url(../imgs/Productos/Accesorios/img1.jpg);
        }
        }

.blog {
    display:flex; 
    flex-direction: column;
    border-radius: 5%;
   margin-inline: 2%;
    margin-block: 2%;
}
    .Cotizacion{
        margin: 15px 0 15px 0;
        text-align: center;
        font-size: large;
        letter-spacing: 1px;
        border-radius: 5%;
        padding: 2% 10% 5% 5%;
        background-color: #565a65d8;
        color: white;
}
        .Cotizacion h2, p, pre {
            text-shadow: 3px 3px 3px#1f2318;
            color: white;
            text-align: center;
            font-weight: bolder;
            letter-spacing: 1px;
}
        .Cotizacion input, select {
            margin: 10px 0 10px 0;
} 
        * select {
            color: rgb(72, 73, 77);
            background-color: white;
            font-size: large;
            font-weight: bold;
            height: 30px;
            text-align: center;
            }

        .btnCotiz {
            font-size: large;
            margin-top: 10px;
            text-align: center;
            font-weight: bold;
            color: white;
            background-color:#ffb0e2c7 ;
            border: #66725be6 none 2px;
            border-radius: 5px;
            padding: 10px 50px 10px 50px;
            height: auto;
            min-width: min-content;


}

.concurso{
    padding: 0 0 45px 0;
    margin: 15px 0 10px 0;
    background-color: #565a65d8;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.tituloConcurso{
    text-align: center;
    color: white;
    font-size: x-large;
    text-shadow: 3px 3px 3px#1f2318;
}

.fotoConcurso {
    
    width: 75vw;
    height: 75vw;
    border: 8px #dba1d9 ridge;
    background: center/cover content-box url(../imgs/Concurso/rifa.jpg);
    
      }

.footer {
    padding: 1% 2% 2% 1%;
    display: grid;
    grid-template-areas: 
        'a b c';
    background-color: #ffb0e2e0 ;
    height: min-content;
    align-items: center;
    overflow-x: auto;
}

.botLogo {
    padding-right: 25px;
    margin: 10px 10px 10px 10%;
    grid-area: a;
    height: 100px;
    width: 100px;    
    
}

            #botLogo { 
                height: 100px;
                width: 100px;
            }

.rrss {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
    grid-area: b;
    gap: 10px;
}

.botMenu {
    justify-content: center;
    margin: 1rem 0 1rem 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    grid-area: c;
}


    .botMenu li {
        font-weight: normal;
        font-size: small;
        padding: 10px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.669);
        border-radius: 5px;
        padding-inline: 10px;
        margin: 2px;
    }

    a:hover, a:visited, a:link, a:active {
        text-decoration: none;
        color:#363C2E;
        font-size: larger;
        font-weight: bolder;

    }




@media screen and (max-width: 660px){
    .topbanner {
        grid-template-areas: 'a b b d'
                            'a c c d'  ;
    }
    .footer {
        grid-template-areas: 'a b c c'
                            'a b c c'  ;
    }
}

@media screen and (min-width: 900px) {
    body {
        background-image: url(../imgs/BGs/BG1.jpg), url(../imgs/BGs/BG2.jpg), url(../imgs/BGs/BG3.jpg);
        background-position:  0% 0%, 33vw 0%, 66vw 0%;
        background-size: 33vw , 33vw, 33vw;
        background-repeat: repeat-y, repeat-y, repeat-y;
    }
    
    .logo, .botLogo {
        margin-left:30%; 
    }
   
    .topnav {
        justify-content:space-evenly;
        }

    .menu > li {
        width: 20%;
    }

    .catalogo {
        flex-direction: row;
    }
    .Slider {
        width: 30vw;
    }
    .rrss {
        flex-direction: row;
        justify-content: space-evenly;
    }
   .botMenu {
    justify-content: space-evenly;
   }
}
